<div>
    <p>Sample plugin redirect link:</p>

    <p>@Html.RouteLink("Go to /Test/plugin", "TestPlugin", new { id = "plugin" })</p>
    <p>@Html.ActionLink("Go to /TestPlugin.dll/Test/Index/plugin", "Index", "Test", new { id = "plugin", area = "TestPlugin.dll" }, null)</p>
</div>